<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="../../assets/images/bell-peppers.jpg" class="card-img vh-50" alt="bell peppers backgroud">
        <div class="card-img-overlay d-flex align-content-center">
            <div class="p-5 m-auto text-center bg-white bg-opacity-25 rounded-3">
                <h1 class="text-white fw-bold">Always Go Fresh</h1>
                <p class=" mx-auto fs-5 fw-bold text-white">
                    Check our high quality fresh fruits and vegetables and get it at your door.
                </p>
                <div class="d-inline-flex gap-2 mb-5">
                    <button routerLink="/products" class="d-inline-flex align-items-center btn btn-success btn-lg px-4 rounded-pill" type="button">
            
                        Start Shopping Now
            
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>